# Banco de dados PostgreSQL
DATABASE_URL=postgresql+psycopg2://postgres:senha123@localhost:5433/db_apostas

# JWT
# openssl rand -hex 32
SECRET_KEY=14f3a2a55971b1447bd0ab7ee67e7fa690bce8eeeda42f9c971f86170202b566
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# CORS - origem do frontend Vue
FRONTEND_ORIGIN=http://localhost:3000
